include video.pug
include media-button.pug

mixin post(data)
    article.post
        section.post-content
            if data.photos
                .photo-wrapper
                    .media-container
                        .photo-inner(class=data.photos.length > 1 ? 'photoset' : false)
                            each photo in data.photos
                                - url = '/photos/' + data.id + '/' + photo
                                a.photo(href=url)
                                    img(src=url)
            else if data.video
                .video-wrapper
                    .media-container
                        +video(data.isYoutube, data.video)

        section.post-caption!= data.caption

        footer.post-footer
            .row
                .col-xs-8.text-left
                    +media-button('#',
                        'Share it on Facebook!', 'icon-facebook')
                    +media-button('#',
                        'Tweet about it!', 'icon-twitter')
                    +media-button('#',
                        'Leave a comment', 'icon-comments')

                .col-xs-4.text-right
                    a(href='#')
                        = "date posted"

        aside.post-tags
            each tag in data.tags
                a.tag(href='#')!='#' + tag