include video.pug
include media-button.pug

mixin post(data, moment)
    article.post
        section.post-content
            if data.photos
                .photo-wrapper
                    .media-container
                        .photo-inner(class=data.photos.length > 1 ? 'photoset' : false)
                            each photo in data.photos
                                - url = '/photos/' + data.id + '/' + photo
                                a.photo(href=url)
                                    img(src=url)
            else if data.video
                .video-wrapper
                    +video(data.isYoutube, data.video)

        section.post-caption!= data.caption

        footer.post-footer
            .row
                .col-xs-8.text-left
                    - summary = encodeURIComponent(data.summary)
                    - shortUrl = 'https://sunforgecards.com' + data.shortUrl
                    - encodedShortURL = encodeURIComponent(shortUrl)

                    +media-button('https://www.facebook.com/sharer.php?' +
                        'u=' + encodedShortURL,
                        'Share it on Facebook!', 'icon-facebook', true)
                    +media-button('https://twitter.com/share?' +
                        'text=' + summary + '&url=' +  encodedShortURL +
                        '&via=sunforgecards',
                        'Tweet about it!', 'icon-twitter', true)
                    +media-button(data.url, 'Leave a comment', 'icon-comments')

                .col-xs-4.text-right
                    - date = moment(data.date).fromNow()

                    a(href=data.url)= date

        aside.post-tags
            each tag in data.tags
                .tag!= '#' + tag