
mixin media-button(url, tooltip, icon, external)
    .footer-button(
        data-container='body'
        data-toggle='tooltip'
        data-placement='bottom'
        title!=tooltip)

        a(href=url
            target=external ? '_blank' : false
            rel=external ? 'noopener noreferrer' : false
            onclick=external ? 'javascript:window.open(this.href, \'\', \'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600\');return false;' : false)

            i(class=icon)