

mixin nav-link(url, className, title, icon)
    a.navigation-link(href=url class=className title=title target='_blank'
        data-toggle='tooltip' data-placement='right' data-container='body')
        i(class=icon)