

mixin nav-link(url, className, title, icon, internal)
    a.navigation-link(href=url class=className target=internal ? false : '_blank')
        i.navigation-icon.icon-fw.icon-2x(class=icon)
        span.navigation-title= title