include components/article.pug
include components/nav-link.pug

doctype html

html
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie-edge')
    meta(
        name='viewport'
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    )

    title= pageTitle

    link(rel='shortcut icon' href='/favicon.png')

    if debug
        link(rel='stylesheet' href='/assets/app.css')

    body
        .global-wrapper
            aside.sidebar-column
                header.logo-wrapper
                    a(href='/')
                        img.logo.img-responsive(
                            src='assets/images/logo.png'
                            alt="Sunforge Cards")

                .navbar
                    nav.navigation
                        div.navigation-inner
                            +nav-link('http://yt.sunforgecards.com', 'youtube',
                                'YouTube', 'icon-youtube')
                            +nav-link('https://facebook.com/sunforgecards', 'facebook',
                                'Facebook', 'icon-facebook')
                            +nav-link('https://www.instagram.com/sunforgecards', 'instagram',
                                'Instagram', 'icon-instagram')
                            +nav-link('https://pinterest.com/sunforgecards', 'pinterest',
                                'Pinterest', 'icon-pinterest')
                            +nav-link('https://twitter.com/sunforgecards', 'twitter',
                                'Twitter', 'icon-twitter')
                            +nav-link('mailto:contact@sunforgecards.com', 'mail',
                                'Email', 'icon-envelope')
                            +nav-link('sunforgecards.tumblr.com/ask', 'ask',
                                'Ask me!', 'icon-question')

                .qa
                    header.qa-header
                        .pull-left.qa-title='Latest Q&A'
                        a.pull-right.qa-link(href='#')='Check all'

            .content-column
                block content

        script(src='/assets/vendor.js')
        script(src='/assets/app.js')

        if debug
            script(src='//localhost:35729/livereload.js')